{% extends "base.html" %}
{% block title %} {{super()}} - Add Band {% endblock %}
{% block content %}
<h2>Add Band</h2>
<form method="POST" id="bandForm">
    <input type="hidden" name="bandid" value="{{band.BandID}}">
    <label>Name:</label><input type="text" name="bandname" value="{{band.BandName}}"><br>
    <label>Formed Year:</label><input type="number" name="formedyear" value="{{band.FormedYear}}"><br>
    <label>Home Location:</label><input type="text" name="homelocation" value="{{band.HomeLocation}}"><br>
    <button type="submit">Save</button>
</form>
{% endblock %}