<div class="container">
  <footer
    class="footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top fixed-bottom mt-auto"
  >
    <p class="col-md-4 mb-0 text-body-secondary">© 2026 Company, Inc</p>
    <a
      href="{{url_for('index')}}"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      aria-label="Bands 2"
    >
      <img
        class="bi me-2"
        width="32"
        height="32"
        src="{{url_for('static', filename='logo.png')}}"
      />
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="{{url_for('index')}}" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('view_by_band')}}" class="nav-link px-2 text-body-secondary">View Bands</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('add_band')}}" class="nav-link px-2 text-body-secondary">Add Bands</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('add_member')}}" class="nav-link px-2 text-body-secondary">Add Members</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('add_album')}}" class="nav-link px-2 text-body-secondary">Add Albums</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Admin</a>
      </li>
    </ul>
  </footer>
</div>
