{% extends "base.html" %}
{% block title %} {{super()}} - {{band.BandName}} {% endblock %}
{% block content %}
<section>
    <div class="container my-5">
        <div class="band-focus p-5 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">{{ band.BandName }} ({{ band.FormedYear }})</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">

            <p><strong>Home:</strong> {{ band.HomeLocation }}</p>

            <h4>Members</h4>
            <ul>
                {% for member in band.members %}
                <li>{{ member.MemberName }} – {{ member.MainPosition }}</li>
                {% endfor %}
            </ul>

            <h4>Albums</h4>
            <ul>
                {% for album in band.albums %}
                <li>{{ album.AlbumTitle }} ({{ album.ReleaseYear }})</li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</section>
{% endblock %}